nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 0.5rem 2.7rem;
  z-index: 2;
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  gap: 1rem;
  border-radius: 2rem;
  backdrop-filter: blur(25px);
}
nav a {
  background: transparent;
  color: var(--color-light);
  display: flex;
  justify-content: center;
  padding-left: 0.5rem;
}
#nav-text {
  font-size: 0.8rem;
}
#nav-icon {
  font-size: 1.3rem;
}
nav a:hover {
  color: #fff;
}
nav a.active {
  color: var(--color-primary);
}
